/* fonts */
@font-face {
    font-family: Cascadia Code;
    src: url(../fonts/CascadiaCode.ttf);

}

@font-face {
    font-family: Victor Mono;
    src: url(../fonts/VictorMono.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Scope One;
    src: url(../fonts/ScopeOne-Regular.ttf);
}

/* ===== color palette  global =========== */
:root {
    --main-bg-color: hsl(0, 0%, 90%);
    --primary-color: #fa0;
    --font-normal: "Scope One";
    --font-code: "Cascadia Code";
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font-normal);
    background-color: var(--main-bg-color);

}

body.dark {
    --text-color: hsl(0, 0%, 83%);
    --main-bg-color: hsl(0, 0%, 15%);
}

.card-dark {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #fa0;
    background: #373a3c;
    color: var(--text-color);
}

/* Nav */
.navbar {
    --opacity: 1;
    background: rgba(25, 20, 20, var(--opacity)) !important;
    border-bottom: 2px solid var(--primary-color) !important;
    font-family: var(--font-code);
    text-transform: uppercase;
}


.switches {
    height: 60px;
    margin-left: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-theme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.toggle-theme__icon {
    align-items: center;
    margin-right: 0.5rem;
    width: 20px;
}

.toggle-theme__text {
    font-size: 0.8rem;
    align-self: center;
}

.nav-item {
    transition: background .4s ease-in-out;
}

.nav-item:hover {
    background: var(--primary-color);
}

.nav-link:hover {
    color: var(--main-bg-color) !important;
    font-weight: bold;
}

/* section hero */
#hero-section {
    width: 100%;
    height: auto;
    border-bottom: 2px solid var(--primary-color);
}


/* About */
#about {
    width: 100%;
}

.coding,
.coding-typed {
    font-family: "Cascadia code";
    font-style: normal !important;
}

/* Works */

#works .logo {
    filter: drop-shadow(2px 8px 6px #000);
}

#works .logo:hover {
    will-change: transform, filter;
    animation: movelogo 1s infinite alternate;
}

@keyframes movelogo {
    0% {
        transform: translate(0);
    }

    100% {
        transform: scale(1.05);
    }
}

#works .card .card-body {
    font-family: var(--font-code);
    background-color: var(--main-bg-color);
    overflow: hidden;
}

#works h2 {
    font-family: var(--font-code);
    text-transform: uppercase;
}

.accordion-item {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: var(--font-code);
}

.accordion-item button {
    /* border: 1px solid #fa0 !important; */
    border: 1px solid var(--text-color) !important;
    color: var(--text-color);

}

.accordion-header button i {
    float: right;
}

.card-footer {
    background-color: var(--main-bg-color);
    font-family: var(--font-code);
    border-top: 1px solid var(--text-color);
}

.card-footer a {
    /* border: 1px solid #fa0 !important;*/
    border: 1px solid var(--text-color) !important;
    color: var(--text-color);
}


/* hover and transitions */

.hover-light:hover {
    color: #fff !important;
}

.card-hover {
    transition: transform ease-in-out .3s;
}

.card-hover:hover {
    transform: scale(1.03);
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
    border: 0.01em solid #fa0 !important;
    background: #373a3c !important;
    color: #fa0;
}

/* media querie */
@media only screen and (max-width: 680px) {
    body {
        background-color: var(--main-bg-color);
    }

    .carousel {
        visibility: hidden;
    }

    #hero-section {
        --opacity-bg: 0.1;
        background-image: linear-gradient(rgba(0, 0, 0, var(--opacity-bg)), rgba(0, 0, 0, var(--opacity-bg))), url("../img/gif/01.gif");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
        max-width: 100vw;
        min-height: 100vh;
        background-position: center center;
        border-bottom: 2px solid #fa0;
    }
}